html,
body {
  min-width: 0 !important;
  min-height: 0 !important;
  background: transparent;
}

.dm-dialog {
  width: 100%;
  height: 100%;
  max-height: none;
  box-shadow: none;
}

.dm-dialog-body {
  flex: 1;
}
